.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 428px) {
  .container {
    width: 396px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .navi-list {
    display: none;
  }

  .address {
    display: none;
  }
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--cornflower-accent);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-color {
  color: var(--navy-blue-dark);
}

.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu-open_icon {
  stroke: var(--navy-blue-dark);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--text-white-background);
  transition: opacity var(--timing-function), visibility var(--timing-function);
  padding: 80px 35px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 200px;
  transform: translateX(100%);
  transition: transform var(--timing-function), opacity var(--timing-function),
    visibility var(--timing-function);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

.mobile-menu-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--text-white-background);
  color: var(--navy-blue-dark);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: fill var(--timing-function),
    background-color var(--timing-function), border-color var(--timing-function);
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.mobile-menu-close_icon {
  width: 8px;
  height: 8px;
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  fill: var(--text-white-background);
  background-color: var(--ocean-pressed-state);
  border-color: transparent;
}

.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  outline: none;
  color: var(--grey-hero-background);
  text-transform: capitalize;
}

.mobile-link:hover,
.mobile-link:focus {
  color: var(--ocean-pressed-state);
}

.mobile-link.active {
  color: var(--ocean-pressed-state);
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.mobile-tel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  font-style: normal;
  color: var(--iris-primary-brand);
  text-decoration: none;
  outline: none;
}

.mobile-email {
  color: var(--slate-text);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--slate-text);
  font-style: normal;
  outline: none;
}

.mobile-soc-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 56px;
}

.mobile-soc-item {
  width: 40px;
  height: 40px;
}

.mobile-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  fill: #f4f4fd;
  background-color: var(--iris-primary-brand);
  border-radius: 50%;
  outline: none;
  transition: background-color var(--timing-function);
}

.mobile-soc-link:hover,
.mobile-soc-link:focus {
  background-color: var(--ocean-pressed-state);
}

.mobile-soc-icon {
  width: 24px;
  height: 24px;
}

.hero {
  background-color: var(--grey-hero-background);
  text-align: center;
  padding-top: 112px;
  padding-bottom: 112px;
  height: 432px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image-mobile.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("hero-image-mobile-2x.png");
  }
}

.main-title {
  color: var(--text-white-background);
  font-size: 36px;
  line-height: 1.11;
  margin-top: 0;
  margin-bottom: 72px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  color: var(--text-white-background);
  background-color: var(--iris-primary-brand);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  text-align: center;
  border: none;
  transition: background-color var(--timing-function);
  outline: none;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean-pressed-state);
}

.advantage-soc-icon {
  display: none;
}

.advantage {
  padding-top: 96px;
  padding-bottom: 96px;
}
.advantage-list .advantage-title {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--navy-blue-dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: start;
}

.advantage-list p {
  margin-top: 0;
  margin-bottom: 0;
}

.advantage-soc-item {
  margin-bottom: 72px;
}

.mobile-hidden {
  display: none;
}

.team .team-item {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--text-white-background);
  min-width: 264px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team .team-item:not(:last-child) {
  margin-bottom: 72px;
}

.team {
  background-color: var(--cloud-light);
  padding-top: 96px;
  padding-bottom: 96px;
}

.team .team-list {
  display: block;
  gap: 24px;
  padding: 0;
  margin: 0;
  text-align: center;
  flex-wrap: wrap;
}

.team-container {
  padding: 32px 16px;
}

.team-container .team-title {
  margin-top: 0px;
  margin-bottom: 8px;
}

.team .team-soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  list-style: none;
  outline: none;
}

.team-soc-link {
  background-color: var(--iris-primary-brand);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  transition: background-color var(--timing-function);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--ocean-pressed-state);
}

.team-soc-icon {
  width: 40px;
  height: 40px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-top-title {
  text-align: center;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
  margin-top: 0;
}

.customers-list {
  flex-wrap: wrap;
  display: flex;
  gap: 16px;
}

.customers-item {
  flex-basis: calc((100% - 16px) / 2);
}

.customers-link {
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate-subtle-text);
  border: 1px solid var(--light-slate-subtle-text);
  border-radius: 4px;
  transition: color var(--timing-function), border var(--timing-function);
}

.customers-icon {
  fill: currentColor;
  width: 110px;
  height: 56px;
}

.customers-link:hover,
.customers-link:focus {
  color: var(--ocean-pressed-state);
  border: 1px solid var(--ocean-pressed-state);
}

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.footer {
  background-color: var(--grey-hero-background);
  padding: 96px 0;
}

.footer-container {
  display: block;
  justify-content: flex-start;
  align-items: baseline;
}

@media screen and (min-width: 768px) {
  .container.footer-container {
    display: flex;
    flex-wrap: wrap;
    width: 552px;
  }
}

@media screen and (max-width: 767px) {
  .logo-container {
    width: 268px;
    margin: 0 auto;
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .logo-container {
    margin-right: 24px;
    margin-bottom: 72px;
  }
}

.logo {
  display: block;
  justify-content: flex-start;
  align-items: center;
  font-family: Raleway, sans-serif;
  color: var(--iris-primary-brand);
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 16px;
  outline: none;
}

.footer-logo-color {
  color: var(--cloud-light);
}

@media screen and (max-width: 767px) {
  .logo {
    text-align: center;
  }
}

.footer-text {
  color: var(--cornflower-accent);
  line-height: 1.5;
  max-width: 264px;
}

@media screen and (max-width: 767px) {
  .soc-container {
    text-align: center;
    margin-bottom: 72px;
  }
}

.footer-soc-title {
  line-height: 1.5;
  color: var(--text-white-background);
  font-weight: 500;
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .footer-soc-title {
    text-align: center;
  }
}

.footer-soc-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-soc-link {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  fill: var(--cloud-light);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--timing-function);
  outline: none;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-icon {
  width: 24px;
  height: 24px;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--green-success);
}

.mailing-container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .mailing-container {
    margin-left: 0;
  }
}

.mailing-title {
  font-weight: 500;
  line-height: 1.5;
  color: var(--text-white-background);
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .mailing-title {
    display: flex;
    justify-content: flex-start;
  }
}
.footer-form {
  display: flex;
}

@media screen and (max-width: 767px) {
  .mailing-form {
    flex-direction: column;
    align-items: center;
  }
}

.mailing-input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 8px 16px;
  color: var(--text-white-background);
  outline: none;
}

@media screen and (max-width: 767px) {
  .mailing-input {
    margin-bottom: 16px;
    max-width: 398px;
  }
}

@media screen and (min-width: 768px) {
  .mailing-input {
    width: 264px;
    margin-right: 24px;
  }
}

.mailing-send-btn {
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-white-background);
  background-color: var(--iris-primary-brand);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  transition: background-color var(--timing-function);
  outline: none;
}

.mailing-send-btn:hover,
.mailing-send-btn:focus {
  background-color: var(--ocean-pressed-state);
}
.mailing-btn-icon {
  width: 24px;
  height: 24px;
  fill: var(--text-white-background);
  margin-left: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--timing-function), visibility var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(1.2);
}

.modal {
  position: relative;
  width: 100%;
  max-width: 408px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--timing-function);
  padding: 72px 24px 24px;
}

@media screen and (max-width: 767px) {
  .modal {
    max-width: 392px;
    padding: 72px 16px 24px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
    max-height: 584px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--cornflower-accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill var(--timing-function),
    background-color var(--timing-function), border-color var(--timing-function);
  cursor: pointer;
  outline: none;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--text-white-background);
  background-color: var(--navy-blue-dark);
  border-color: transparent;
}

.modal-close-icon {
  height: 8px;
  width: 8px;
}

.modal-title {
  color: var(--navy-blue-modal-overlay);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  font-style: normal;
}

.modal-form {
  max-width: 360px;
  width: 100%;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-field:nth-child(-n + 3) {
  margin-bottom: 8px;
}

.modal-field:nth-child(4) {
  margin-bottom: 16px;
}

.modal-label-text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.04em;
  color: var(--light-slate-subtle-text);
}

.input-wrap {
  position: relative;
  margin-top: 4px;
}

.modal-input {
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.04em;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  outline: none;
  transition: border-color var(--timing-function);
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--iris-primary-brand);
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 18px;
  height: 24px;
  fill: var(--navy-blue-modal-overlay);
  transition: fill var(--timing-function);
}

.modal-input:hover + .form-svg,
.modal-input:focus + .form-svg {
  fill: var(--iris-primary-brand);
}

.modal-textarea {
  display: block;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.04em;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 8px;
  padding-left: 16px;
  margin-top: 4px;
  outline: none;
  transition: border-color var(--timing-function);
}

.modal-textarea:hover,
.modal-textarea:focus {
  border-color: var(--iris-primary-brand);
}

.visually-hidden {
  appearance: none;
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate-subtle-text);
  margin: 0;
}

.check-text::before {
  margin-right: 8px;
  vertical-align: middle;
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}

.modal-check:checked + .check-text::before {
  background-color: var(--ocean-pressed-state);
  border: none;
  background-image: url(../images/checkicon.svg);
  background-repeat: no-repeat;
  background-position: center;
  fill: var(--cloud-light);
}

.modal-check-link {
  color: var(--iris-primary-brand);
  transition: color var(--timing-function);
}

.modal-check-link:hover,
.modal-check-link:focus {
  color: var(--ocean-pressed-state);
}

.modal-send-btn {
  width: 169px;
  height: 56px;
  background-color: var(--iris-primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--text-white-background);
  border-color: var(--iris-primary-brand);
  transition: background-color var(--timing-function);
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  display: block;
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: var(--ocean-pressed-state);
}
