/**------------- variable list ------------**/

:root {
  --iris-primary-brand: #4d5ae5;
  --ocean-pressed-state: #404bbf;
  --navy-blue-dark: #2e2f42;
  --green-success: #31d0aa;
  --slate-text: #434455;
  --light-slate-subtle-text: #8e8f99;
  --cornflower-accent: #e7e9fc;
  --cloud-light: #f4f4fd;
  --navy-blue-modal-overlay: #2e2f42;
  --grey-hero-background: #2e2f42;
  --text-white-background: #ffffff;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}

body {
  background-color: var(--text-white);
  font-family: "Roboto", sans-serif;
  color: var(--slate-text);
  letter-spacing: 0.02em;
}

.section {
  padding: 120px 0;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**---------------- header ----------------**/

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--cornflower-accent);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-primary-brand);
  margin-right: 76px;
}

.header-logo-color {
  color: var(--navy-blue-dark);
}

.header-nav {
  display: flex;
  align-items: center;
}

.navi-list {
  display: flex;
  gap: 40px;
}

.navi-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--navy-blue-dark);
  transition: color var(--timing-function);
}

.navi-link.current {
  color: var(--ocean-pressed-state);
}

.navi-link.current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -25px;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  border-radius: 2px;
}

.navi-link:hover,
.navi-link:focus {
  color: var(--ocean-pressed-state);
}

.address {
  font-style: normal;
  color: var(--slate-text);
}

.address-list {
  display: flex;
  gap: 40px;
}

.header-mailtel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: inherit;
  transition: color var(--timing-function);
}

.header-mailtel:hover,
.header-mailtel:focus {
  color: var(--ocean-pressed-state);
}

/**--------------- hero ---------------**/

.hero {
  max-width: 1440px;
  background-color: var(--grey-hero-background);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.hero-container {
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--text-white-background);
  margin: 0 auto;
}

.hero-btn {
  min-width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--text-white-background);
  background-color: var(--iris-primary-brand);
  margin: 0 auto;
  padding: 16px 32px;
  gap: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 48px;
  border: none;
  transition: background-color var(--timing-function);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean-pressed-state);
}

/**------------ advantage -----------------**/

.advantage {
  padding-bottom: 0;
}

.advantage-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue-dark);
  margin-top: 8px;
  margin-bottom: 8px;
}

.advantage-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.advantage-soc-item {
  display: block;
  flex-basis: calc((100% - 72px) / 4);
}

.advantage-text {
  font-size: 16px;
  line-height: 1.5;
}

.advantage-soc-link {
  height: 112px;
  background-color: var(--cloud-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

/**--------------- examples ------------**/

.examples-top-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue-dark);
  margin-bottom: 72px;
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.examples-item {
  flex-basis: calc((100% - 48px) / 3);
}

/**---------------- team ------------------**/

.team {
  background-color: var(--cloud-light);
  margin: 0 auto;
}

.team-container {
  padding: 32px 16px;
}

.team-top-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue-dark);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--navy-blue-dark);
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}

.team-item {
  flex-basis: calc((100% - 72px) / 4);
  background-color: var(--text-white-background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
  flex-basis: calc((100% - 72px) / 4);
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris-primary-brand);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--timing-function);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--ocean-pressed-state);
}

/**------------- customers------------- **/

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--navy-blue-dark);
}

.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.customers-item {
  display: inline-block;
  flex-basis: calc((100% - 120px) / 6);
}

.customers-link {
  max-width: 168px;
  height: 88px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-slate-subtle-text);
  border-radius: 4px;
  background-color: var(--text-white-background);
  padding: 10px;
  margin: 0;
  color: var(--light-slate-subtle-text);
  transition: border-color var(--timing-function), color var(--timing-function);
}

.customers-icon {
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--ocean-pressed-state);
  color: var(--ocean-pressed-state);
}

/**------------- footer ---------------**/

.footer {
  background-color: var(--grey-hero-background);
}

.footer-box {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
}

.logo-container {
  max-width: 264px;
  margin-right: 120px;
}

.footer-logo-color {
  color: var(--cloud-light);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--cornflower-accent);
  margin-top: 16px;
}

.soc-container {
  max-width: 208px;
  margin-right: 80px;
}

.footer-soc-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-white-background);
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
  flex-basis: calc((100% - 48px) / 4);
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--slate-text);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-soc-icon {
  fill: var(--cloud-light);
  transition: background-color var(--timing-function);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--green-success);
}

.mailing-container {
  min-width: 453px;
}

.mailing-form {
  display: flex;
}

.mailing-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-white-background);
  margin-bottom: 16px;
}

.mailing-input {
  width: 100%;
  height: 40px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--grey-hero-background);
  padding: 8px 16px;
  outline: transparent;
}

.mailing-input::placeholder {
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--text-white-background);
}

.mailing-wrap {
  position: relative;
}

.mailing-send-btn {
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-white-background);
  background-color: var(--iris-primary-brand);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  border: none;

  transition: background-color var(--timing-function);
  outline: none;
  margin-left: 24px;
}

.mailing-send-btn:hover,
.mailing-send-btn:focus {
  background-color: var(--ocean-pressed-state);
}

.mailing-btn-icon {
  width: 24px;
  height: 24px;
  fill: var(--text-white-background);
  margin-left: 16px;
}

/**------------------ Modal ---------------------**/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity var(--timing-function), visibility var(--timing-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 584px;
  padding: 24px;
  background-color: #fcfcfc;
  transition: transform var(--timing-function);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--cornflower-accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color var(--timing-function),
    fill var(--timing-function);
  margin-bottom: 24px;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--text-white-background);
  background-color: var(--ocean-pressed-state);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--navy-blue-dark);
  padding-top: 48px;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  padding-top: 11px;
  padding-bottom: 11px;
  outline: transparent;
  background-color: transparent;
  transition: border-color var(--timing-function);
}

.modal-input:focus {
  border-color: var(--iris-primary-brand);
}

.modal-label-text {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--light-slate-subtle-text);
  margin-bottom: 4px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field:nth-child(4) {
  margin-bottom: 16px;
}

.input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: var(--navy-blue-dark);
  transform: translateY(-50%);
  transition: fill var(--timing-function);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--iris-primary-brand);
}

.modal-textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  outline: transparent;
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:hover,
.modal-textarea:focus {
  border: 1px solid var(--iris-primary-brand);
  border-radius: 4px;
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate-subtle-text);
  margin: 0;
}

.check-text::before {
  margin-right: 8px;
  vertical-align: middle;
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}

.modal-check:checked + .check-text::before {
  background-color: var(--ocean-pressed-state);
  border: none;
  background-image: url(../images/checkicon.svg);
  background-repeat: no-repeat;
  background-position: center;
  fill: var(--cloud-light);
}

.modal-check-link {
  color: var(--iris-primary-brand);
  transition: color var(--timing-function);
}

.modal-check-link:hover,
.modal-check-link:focus {
  color: var(--ocean-pressed-state);
}

.modal-send-btn {
  width: 169px;
  height: 56px;
  background-color: var(--iris-primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--text-white-background);
  border-color: var(--iris-primary-brand);
  transition: background-color var(--timing-function);
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  display: block;
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: var(--ocean-pressed-state);
}

/**--------------- Portfolio.html ---------------**/

.project-box {
  padding-top: 96px;
  padding-bottom: 120px;
}

.button-list {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.button-item {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--cloud-light);
  color: var(--iris-primary-brand);
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border: 1px solid var(--cornflower-accent);
  border-radius: 4px;
  transition: background-color var(--timing-function),
    color var(--timing-function), box-shadow var(--timing-function);
}

.btn:hover,
.btn:focus {
  background-color: var(--ocean-pressed-state);
  color: var(--text-white-background);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 48px 24px;
  box-sizing: border-box;
}

.project-container {
  padding: 32px 16px;
  border-left: 1px solid var(--cornflower-accent);
  border-right: 1px solid var(--cornflower-accent);
  border-bottom: 1px solid var(--cornflower-accent);
}

.project-list .project-item {
  flex-basis: calc((100% - 48px) / 3);
}

.project-item:hover,
.project-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue-dark);
  margin-bottom: 8px;
}

.project-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate-text);
}

.project-link {
  display: block;
}

.project-img-box {
  position: relative;
  overflow: hidden;
}

.ovarlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--cloud-light);
  font-size: 16px;
  padding: 40px 32px;
  line-height: 1.5;
  overflow-y: auto;

  background-color: var(--iris-primary-brand);
  transition: transform var(--timing-function);
  transform: translateY(100%);
}

.project-link:hover .ovarlay,
.project-link:focus .ovarlay {
  transform: translateY(0%);
}
